apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: tetragon
  namespace: flux-system
spec:
  interval: 1m
  path: "./clusters/minikube/apps/tetragon"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
