apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./clusters/minikube/apps
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  force: true      # <--- Add this
  wait: false      # <--- Add this to stop it from timing out while waiting for CRDs
